$MainColorCalendar: #032c6d;

html {
  body {
    padding-left: 10%;
  }
  overflow-x: hidden;
  font-size: 16px;
  .hide-layout {
    margin-left: -10%;
    background: #000; /* фон */
    bottom: 0; /* координата снизу */
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* прозрачность для IE */
    height: 100%; /* высота на всю страницу */
    opacity: 0.5; /* прозрачность слоя */
    position: fixed; /* фиксируем элемент на странице*/
    top: 0; /* координата сверху */
    width: 100%; /* ширина на всю страницу */
    z-index: 98; /* z-index для перекрытия остальных элементов */
  }
  .modal-wrapper {
    overflow: auto;
    padding-top: 3%;
    text-align: center;
    border-radius: 10px 10px;
    z-index: 1000;
    height: 100%;
    background: #e8e4e4;
    width: 80%;
    position: fixed;
    #close {
      display: flex;
      justify-content: flex-end;
      position: relative;
      left: -4%;
      top: -2%;
      cursor: pointer;
    }
    .modal-info-main {
      display: flex;
      flex-direction: row;
      width: 100%;
      .filters {
        width: 25%;
        li {
          padding-left: 20%;
          cursor: pointer;
        }
      }
      .table-schedule {
        width: 75%;
      }
    }
    .rooms {

      margin-top: 3%;
      display: flex;
      justify-content: center;
      table {
        td {
          border: 1px solid black;
          padding: 5px;
          text-align: center;
          vertical-align: center;
        }
      }
    }

  }
  nav {
    #Navcalendar {
      color: #1ea921;
    }
  }
  main {

    #inputFilter {
      border: 1px solid grey;
    }

    .calendar td {
      width: 50px;
    }
    .calendar {
      clear: both;
      position: relative;
      top: 40px;
      display: flex;
      flex-direction: row;
      margin-bottom: 5%;
      width: 100%;
      .calendar-wrapper {
        width: 70%;
        #calendar {
          margin-left: 45%;
        }

      }

      td {
        border-right: 1px solid $MainColorCalendar;
        height: 20px;
        text-align: center;
        vertical-align: middle;

        img {
          width: 35px;
        }
      }
      .curDay {
        cursor: pointer;
      }
      .calendarHat month {
        margin-top: 5%;

      }
      .calendarHat td {
        border: none;
        font-size: 20px;
        color: $MainColorCalendar;
        text-transform: uppercase;
        padding-bottom: 5%;
        padding-top: 8%;
      }

      .dayweek td {
        font-size: 18px;
        padding-bottom: 20px;
        color: $MainColorCalendar;
        text-transform: uppercase;
      }

      tr > td:last-child {
        border: none;
      }

    }
    .info-about-calendar {
      font-size: 16px;
      display: flex;
      flex-direction: row;
      padding-left: 120px;
      justify-content: center;

      img {
        width: 30px;
        height: 30px;
      }
      li {
        padding-top: 10px;
        display: flex;
        flex-direction: row;
      }
      .info-left, .info-right {
        padding: 20px;
        span {
          padding-top: 5px;
          padding-left: 25px;
          br:after {
            padding-left: 25px;
          }
        }
      }

    }
    .div-table-of-lessons {
      margin-top: 15px;
      margin-bottom: 5%;
      display: flex;
      justify-content: center;
      .table-of-lessons {
        text-align: center;
        td {
          height: 25px;
          border: 2px solid $MainColorCalendar;
          padding: 5px 20px;
          vertical-align: middle;
          color: $MainColorCalendar;
        }

      }
    }

  }
}

//.spanBr {
//  display: none;
//}
//
//#choosePeriod {
//  margin-left:-10%;
//  margin-top: 7%;
//  text-align: center;
//  input {
//    width: 210px;
//    text-align: center;
//  }
//
//}
//
//.calendarDiv {
// padding-right:10px;
//  position: absolute;
//  margin-top: -30px;
//  background: white;
//  border: 1px solid lightgray;
//  box-shadow: 7px 7px 10px -7px rgba(0, 0, 0, 0.5);
//  z-index: 10;
//  #calendarTable {
//    margin-top: 5%;
//    margin-left: 10px;
//    .tdDate {
//      background-image: url("../Images/krug4.png");
//      background-repeat: no-repeat;
//      -webkit-background-size: contain;
//      background-size: contain;
//    }
//
//    .calendarHat {
//      .month, .year {
//        padding-top: 1%;
//        padding-bottom: 2%;
//        font-size: 2.2vh;
//        text-transform: lowercase;
//
//        .btn-name {
//
//          border: none;
//          background: none;
//          outline: none;
//          cursor: pointer;
//
//          img {
//            width: 10px;
//            outline: none;
//          }
//
//        }
//      }
//
//    }
//    .dayweek td {
//      padding-top: 0;
//      padding-bottom: 0;
//      font-size: 2vh;
//    }
//    td {
//      padding-top:3px;
//      height: 25px;
//      width: 25px;
//      font-size: 2.3vh;
//
//    }
//    .tdNumbers span {
//      padding-left: 2px;
//      padding-right: 2px;
//      cursor: default;
//    }
//    .curDay {
//      cursor: default;
//    }
//
//    .tdNumbers span:hover {
//      border: 1px solid #00ad27;
//
//    }
//    .empty {
//      display: none;
//    }
//
//  }
//}

@media (max-width: 992px) {
  html {
    main {
      .calendar {
        .calendarHat td {

          font-size: 16px;

        }

        .dayweek td {
          font-size: 14px;
        }
      }
    }
    .info-about-calendar span {
      font-size: 14px;

    }
  }
}

@media (max-width: 705px) {
  html main .info-about-calendar .info-left span,
  html main .info-about-calendar .info-right span {
    padding-left: 0px;
  }
  html {
    main {
      .calendar {
        padding-left: 10px;

      }

      .info-about-calendar {
        padding-left: 0;
        flex-direction: column;

        text-align: center;
        .info-left {
          padding-bottom: 0;
          padding-top: 30px;
          padding-left: 15%;
        }
        .info-right {
          padding-top: 0;
          padding-left: 15%;
        }
      }
      .info-about-calendar span {
        font-size: 14px;
        text-align: left;

      }
    }
    .div-table-of-lessons {
      .table-of-lessons {
        font-size: 14px;
        padding-left: 10%;

      }

    }
  }

}

@media (max-width: 405px) {

  html main .div-table-of-lessons .table-of-lessons td {
    padding: 1px;
  }
  html main .calendar {
    padding-left: 0;
    width: 100%;

  }
  html main .calendar td {
    padding-left: 5px;
    padding-right: 5px;
  }

  html main .info-about-calendar {

    padding-left: 20px;

    .info-left, .info-right {
      padding-left: 0;
    }

  }

  html {

    .main {

      .calendar {
        tr > td:last-child {
          width: 20px;
        }
      }

      .info-about-calendar {
        img {
          width: 10px;
        }

      }
    }
  }
  html main .calendar .calendar-wrapper{
    margin-left: -15%;
  }
}
