/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}




header{

  //background: lightseagreen;
}
body {
  //font-size:100%;
  padding-right: 10%;
  button{
    cursor: pointer;
  }
  button:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
  }

.StartTime{
  padding-top:20%;
  td{
    border: 1px solid black;

    vertical-align: middle;
  }

}

  //  nav {
  //
  //  padding-top: 1%;
  //
  //  ul {
  //
  //    text-align: right;
  //    padding-bottom: 2%;
  //    li {
  //      font-size:1.5vw;
  //      display: inline;
  //      margin: 2px;
  //
  //      a {
  //        color: #032c6d;
  //        font-weight: bold;
  //        list-style-type: none;
  //        text-decoration: none;
  //      }
  //      a:hover {
  //        color: #269376;
  //      }
  //
  //    }
  //
  //    .nav-ul-logo {
  //      position: relative;
  //      top: 10px;
  //      margin-right: -2.5%;
  //    }
  //  }
  //}
  //
  //main {
  //  img {
  //    display: inline-block;
  //    height: auto;
  //    max-width: 100%;
  //  }
  //  #mainDate {
  //    position: relative;
  //    float: right;
  //    padding-top: 1%;
  //    clear: both;
  //
  //  }
  //  .main-filter {
  //    position: relative;
  //    float: right;
  //    margin-top: 1%;
  //    clear: both;
  //  }

    .wrapper-table {
      margin-bottom:10%;
      clear: both;
      position: relative;
      top: 50px;
      //padding-right: 10%;
      padding-left: 10%;

      .btn-schedule-name {

        height: 15px;


      }
      table {
        margin-top:3%;
        td {

          height: 30px;
        }

          td {
            text-align: center;
          }
        }
      .btn-name{

          background: none;
          border: none;
        }
      .span-name-shedule{
        top:-50px;
      }
        .tr-day-of-week {
          height: 40px;
          button{
            border: none;
            background: none;
            //margin-right:4%;
            position: relative;
            top:5px;

            .img-btn{
              width: 30px;
              height:20px;
            }
          }

          td{
            padding-top:2%;
            font-size:1.5vw;
            width: 20%;
            padding-bottom:2%;
            hr{
              border: none; /* Убираем границу для браузера Firefox */
              color: #0ba5aa; /* Цвет линии для остальных браузеров */
              background-color: #0ba5aa; /* Цвет линии для браузера Firefox и Opera */
              height: 2px; /* Толщина линии */
              width: 90%;
              margin-bottom:5%;
            }
          }
          //#btnRight-day-name0, #btnLeft-day-name1 {
          //  display: none;
          //}

        }
      .tr-name-of-class{

        td{
          //font-size:1.5vw;
          padding-bottom:1%;
          padding-top:1%;
        }

        button{
          border: none;
          background: none;
          margin-right:4%;


          .img-btn{
            width: 20px;
            height:13px;
          }
        }
        hr{
          border: none; /* Убираем границу для браузера Firefox */
          color: #0ba5aa; /* Цвет линии для остальных браузеров */
          background-color: #0ba5aa; /* Цвет линии для браузера Firefox и Opera */
          height: 2px; /* Толщина линии */
          width: 70%;
          margin-bottom:5%;
        }
      }
      .StartTime{
       td{
         font-size:1.5vw;
       }
      }
      }
      .name-of-shedule{
        //display: inline;
        text-align: center;
          span{
            font-size:1.5vw;
            position: relative;
            top:-10px;
          }
          .btn-name{
            border: none;
            background: none;
          }
      }
    }

