@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  overflow-y: scroll;
  padding-right: 10%; }
  body #NavSchedule {
    color: #1ea921; }
  body button {
    cursor: pointer; }
  body button:active, body :hover, body :focus {
    outline: 0;
    outline-offset: 0; }
  body .StartTime {
    padding-top: 20%; }
    body .StartTime td {
      vertical-align: middle; }
  body .wrapper-table {
    margin-bottom: 10%;
    clear: both;
    position: relative;
    top: 90px; }
    body .wrapper-table .ScheduleName {
      padding-bottom: 3%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%; }
      body .wrapper-table .ScheduleName .SchName input {
        text-align: center;
        font-size: 18px;
        border: none;
        max-width: 100%; }
      body .wrapper-table .ScheduleName .SchName input:focus {
        border: 1px solid black; }
    body .wrapper-table table {
      margin-top: 3%; }
      body .wrapper-table table input {
        border: none;
        text-align: center; }
      body .wrapper-table table input:focus {
        border: 1px solid black; }
    body .wrapper-table .btn-name {
      background: none;
      border: none; }
    body .wrapper-table .tr-day-of-week {
      padding-bottom: 20px;
      height: 40px; }
      body .wrapper-table .tr-day-of-week .newDivDyMain {
        display: flex;
        flex-direction: column; }
        body .wrapper-table .tr-day-of-week .newDivDyMain .newDivDay {
          display: flex;
          flex-direction: row;
          justify-content: space-between; }
          body .wrapper-table .tr-day-of-week .newDivDyMain .newDivDay .btnDay {
            cursor: default; }
            body .wrapper-table .tr-day-of-week .newDivDyMain .newDivDay .btnDay .img-btn {
              cursor: pointer; }
          body .wrapper-table .tr-day-of-week .newDivDyMain .newDivDay .span-name-shedule {
            font-size: 18px; }
      body .wrapper-table .tr-day-of-week button {
        border: none;
        background: none;
        position: relative; }
        body .wrapper-table .tr-day-of-week button .img-btn {
          width: 30px;
          height: 20px; }
      body .wrapper-table .tr-day-of-week td {
        text-align: center;
        padding-top: 2%;
        font-size: 1.5vw;
        width: 20%;
        padding-bottom: 2%;
        height: 60px; }
        body .wrapper-table .tr-day-of-week td hr {
          border: none;
          /* Убираем границу для браузера Firefox */
          color: #0bc129;
          /* Цвет линии для остальных браузеров */
          background-color: #0bc129;
          /* Цвет линии для браузера Firefox и Opera */
          height: 2px;
          /* Толщина линии */
          width: 90%;
          margin-bottom: 5%; }
    body .wrapper-table .tr-name-of-class .newDivRoom {
      width: 100%;
      display: flex;
      flex-direction: row;
      padding-left: 5%; }
      body .wrapper-table .tr-name-of-class .newDivRoom .newDivRoomFixed .imgFixed {
        width: 25px;
        cursor: pointer; }
      body .wrapper-table .tr-name-of-class .newDivRoom input {
        margin-left: -5px;
        width: 110%; }
      body .wrapper-table .tr-name-of-class .newDivRoom .newDivRoomName {
        width: 75%; }
    body .wrapper-table .tr-name-of-class td {
      height: 30px;
      margin-top: -15px;
      width: 20%;
      padding-right: 1%;
      padding-bottom: 1%; }
      body .wrapper-table .tr-name-of-class td .imgDisabled {
        width: 20px;
        height: 13px;
        cursor: default; }
      body .wrapper-table .tr-name-of-class td .btnimgDisabled {
        cursor: default; }
      body .wrapper-table .tr-name-of-class td .btn-Room-slide {
        cursor: default; }
      body .wrapper-table .tr-name-of-class td .imgbtnVisible {
        cursor: pointer; }
    body .wrapper-table .tr-name-of-class button {
      border: none;
      background: none; }
      body .wrapper-table .tr-name-of-class button .img-btn {
        width: 20px;
        height: 13px; }
    body .wrapper-table .tr-name-of-class hr {
      border: none;
      /* Убираем границу для браузера Firefox */
      color: #0bc129;
      /* Цвет линии для остальных браузеров */
      background-color: #0bc129;
      /* Цвет линии для браузера Firefox и Opera */
      height: 2px;
      /* Толщина линии */
      width: 100%;
      margin-top: -17px; }
    body .wrapper-table .StartTime {
      position: relative; }
      body .wrapper-table .StartTime input {
        width: 100%;
        height: 100%; }
      body .wrapper-table .StartTime td {
        font-size: 1.5vw;
        height: 40px; }
      body .wrapper-table .StartTime span {
        display: none; }
  body .context {
    display: flex;
    flex-direction: row; }
  body .contextMenu {
    display: none;
    position: absolute;
    z-index: 10;
    border: 1px solid #bbb;
    width: 225px;
    margin: 0;
    background: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2); }
    body .contextMenu .contextMenuItems {
      list-style-type: none;
      padding: 0px;
      margin: 5px; }
      body .contextMenu .contextMenuItems .contextMenuItem {
        cursor: pointer;
        color: grey;
        padding: 5px 10px; }

/*# sourceMappingURL=style.css.map */
